<!DOCTYPE html>
<html lang="en">
<head>
    <title>IT Market</title>
    <script src="https://unpkg.com/vue"></script>
    <link rel="stylesheet" type="text/css" href="assets/css/app.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.16.2/axios.js"></script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div id="app">
    <header>
        <div class="navbar navbar-default">
            <div class="navbar-header">
                <h1>{{ sitename }}</h1>
            </div>
            <div class="nav navbar-nav navbar-right cart">
               <!-- <button type="button" class="btn btn-default btn-lg" v-on:click="showCheckout">-->
                <button type="button" class="btn btn-default btn-lg" @click="showCheckout" v-if="canClickToOrder">
                    <span class="glyphicon glyphicon-shopping-cart">
                        {{ cartItemCount}}
                    </span>
                    {{showCheckoutText}}
                </button>
                <button disabled="true" class="btn btn-default btn-lg" v-else>
                    <span class="glyphicon glyphicon-shopping-cart">
                        {{ cartItemCount}}
                    </span>
                    {{showCheckoutText}}
                </button>
            </div>

        </div>
    </header>
    <main>
        <div v-if="showProduct">
            <div v-for="product in sortedProducts">
                <div class="row">
                    <div class="col-md-5 col-md-offset-0">
                    <figure>
                        <img v-bind:src="product.image" class="img">
                    </figure>
                    </div>
                    <div class="col-md-6 col-md-offset-2 description">
                        <h1 v-text="product.title"></h1>
                        <p v-html="product.description"></p>
                        <p class="price">
                            {{product.price | formatPrice}}
                        </p>
                        <button class="btn btn-primary position-relative" v-on:click="addToCart(product)"
                                v-if="canAddToCart(product)">Добавить в корзину</button> <!--Кнопка добавления товара в корзину-->
                        <button disabled="true" class="btn btn-primary position-relative"
                                v-else>Добавить в корзину</button> <!--Кнопка добавления товара в корзину отключена-->
                        <span class="badge" v-if="product.availableInventory-cartCount(product.id)===0">
                            Товар закончился
                        </span>
                        <span class="badge" v-else-if="product.availableInventory-cartCount(product.id)<5">
                            Осталось {{product.availableInventory-cartCount(product.id)}}
                        </span>
                        <span class="badge" v-else>
                            К покупкам!
                        </span>
                        <div class="rating">
                            <span v-bind:class="{'rating-active' :checkRating(n, product)}" v-for="n in 5">☆
                            </span>
                        </div>
                    </div>
                    <!-- end of col-md-6-->
                </div>
                <!-- end of row-->
                <hr />
            </div>
            <!-- end of v-for-->
        </div>
            <div v-else>
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="panel panel-info">
                            <div class="panel-heading">Pet Depot Checkout</div>
                            <div class="panel-body">
                                <div class="form-group">
                                    <div class="col-md-12">
                                        <h4>
                                            <strong>Enter Your Information</strong>
                                        </h4>
                                    </div>
                                </div>
                                <div class="form-group">
                                <div class="col-md-6">
                    <strong>Имя:</strong>
                    <input v-model.trim.lazy="order.firstName" class="form-control" />
                    <!--модификатор .lazy позволяет синхронизировать значения при наступлении события change-->
                </div>
                                <div class="col-md-6">
                    <strong>Фамилия:</strong>
                    <input v-model.trim="order.lastName" class="form-control" />
                </div>
                                <div class="form-group">
                    <div class="col-md-12"><strong>Адрес:</strong></div>
                    <div class="col-md-12">
                        <input v-model.trim.trim="order.address" class="form-control" />
                    </div>
                </div>
                                <div class="form-group">
                    <div class="col-md-12"><strong>Город:</strong></div>
                    <div class="col-md-12">
                        <input v-model.trim="order.city" class="form-control" />
                    </div>
                </div>
                                <div class="form-group">
                    <div class="col-md-2">
                        <strong>Регион:</strong>
                        <select v-model="order.state" class="form-control">
                            <option disabled value="">Регион</option>
                            <option v-for="(state,key) in states" v-bind:value="state">{{key}}</option>
                        </select>
                    </div>
                </div>
                                <div class="form-group">
                    <div class="col-md-6 col-md-offset-4">
                        <strong>Почтовый индекс:</strong>
                        <input v-model.trim.number="order.zip" class="form-control"/>
                    </div>
                </div>
                                <div class="form-group">
                    <div class="col-md-6 boxes">
                        <input type="checkbox"
                               id="gift" value="true"
                               v-bind:true-value="order.sendGift"
                               v-bind:false-value="order.dontSendGift"
                               v-model="order.gift">
                        <label for="gift">Отправить как подарок?</label>
                    </div>
                </div>
                                <div class="form-group">
                    <div class="col-md-6 boxes">
                        <input type="radio"
                        id = "home" value="home"
                        v-model="order.method"
                        v-bind:value="order.home">
                        <label for="home">Домашний адрес</label>
                        <input type="radio"
                        id = "business" value="Business"
                        v-model="order.method"
                        v-bind:value="order.business">
                        <label for ="business">Рабочий адрес</label>
                    </div>
                </div>
                                <div class="form-group">
                    <div class="col-md-6">
                        <button type="submit" class="btn btn-primary submit" v-on:click="submitForm">Заказать</button>
                    </div>
                </div>
                                <div class="col-md-12 verify">
                    <pre>
                        Имя: {{order.firstName}}
                        Фамилия:{{order.lastName}}
                        Адрес: {{order.address}}
                        Город:{{order.city}}
                        Регион: {{order.state}}
                        Почтовый индекс:{{order.zip}}
                        Тип адреса доставки:{{order.method}}
                        Отправить как подарок:{{order.gift}}
                    </pre>
                </div>

                                    <!-- end of col-md-12 verify-->
                                </div>
                                <!--end of panel-body-->
                            </div>
                            <!--end of panel panel-info-->


                        </div>
                        <!--end of col-md-10 col-md-offset-1-->
                    </div>
                    <!--end of row-->
                </div>
            </div>
    </main>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
<script type="text/javascript">
    let APP_LOG_LIFECYCLE_EVENTS = false;
    let webstore = new Vue({
        el:'#app',
        data:{
            sitename:"IT Market Vue",
            showProduct: true,
            showCheckoutText:'Корзина',
            states:{
                'Алтайский край':'Алтайский край',
                'Красноярский край':'Красноярский край',
                'Новосибирская область':'Новосибирская область',
                'Кемеровская область':'Кемеровская область',
                'Томская область':'Томская область',

            },
            order:{
                firstName:'',
                lastName:'',
                address: '',
                city: '',
                zip: '',
                state: '',
                method:'Домашний адрес',
                business: 'Рабочий адрес',
                home: 'Домашний адрес',
                gift:'Отправить как подарок',
                sendGift: 'Отправить как подарок',
                dontSendGift: 'Не отправлять как подарок'
            },
            products:[
                {
                    "id":1001,
                    "title":"IpadPro 128",
                    "description":"Планшет <em>Ipad</em> Pro 128Гб",
                    "price":120000,
                    "image":"assets/images/ipad.jpg",
                    "availableInventory": 10, //кол-во доступных к заказу
                    "rating": 3
                },
                {
                    "id": 1002,
                    "title": "MacBook Air",
                    "description": "Ноутбук <em>MacBook</em> Air 13",
                    "price": 113000,
                    "image": "assets/images/macbook-air.jpg",
                    "availableInventory": 7,
                    "rating": 4
                }
            ],
            cart: [] //корзина товаров
        },

        filters: {
            formatPrice(price) {	//#B
                if (!parseInt(price)) { return ""; }	//#C
                if (price > 99999) {	//#D
                    let priceString = (price / 100).toFixed(2);	//#E
                    let priceArray = priceString.split("").reverse();	//#F
                    let index = 3;	//#F
                    while (priceArray.length > index + 3) {	//#F
                        priceArray.splice(index + 3, 0, ",");	//#F
                        index += 4;	//#F
                    }	//#F
                    return "$" + priceArray.reverse().join("");	//#G
                } else {
                    return "$" + (price / 100).toFixed(2);	//#H
                }
            }

        },
        methods: {
            checkRating(n, myProduct) {
                return myProduct.rating - n >= 0;
            },
            addToCart(aProduct) {
                this.cart.push(aProduct.id);
            },
            //Метод срабатывает после нажатия кнопки корзины
            showCheckout () {
                this.showProduct = !this.showProduct //? false:true;
                this.showCheckoutText=!this.showProduct?'К покупкам':'Корзина';
            },
            submitForm(){
                alert('Заказано');
            },
            canAddToCart(aProduct) {
                //return this.product.availableInventory > this.cartItemCount;
                console.log(aProduct.availableInventory);
                return aProduct.availableInventory > this.cartCount(aProduct.id);
            },
            cartCount(id) {
                let count = 0;
                for (let i = 0; i < this.cart.length; i++) {
                    if (this.cart[i] === id) {
                        count++;
                    }
                }
                return count;
            }

        },
        computed:{
            cartItemCount: function () {
                return this.cart.length||0;
            },

            canClickToOrder: function () {
                return this.cart.length>0;
            },
            sortedProducts() {
                if (this.products.length > 0) {
                    let productsArray = this.products.slice(0);
                    console.log(productsArray);
                    console.log(this.products);
                    function compare(a, b) {
                        if (a.title.toLowerCase() < b.title.toLowerCase())
                            return -1;
                        if (a.title.toLowerCase() > b.title.toLowerCase())
                            return 1;
                        return 0;
                    }
                    return productsArray.sort(compare);
                }

            }
        },
        beforeCreate:function () {
            if (APP_LOG_LIFECYCLE_EVENTS){
                console.log("beforeCreate");
            }
        },
        created:function () {
           /* axios.get('./products.json')
                .then((response) => {
                    this.products = response.data.products;
                    console.log(this.products);
                });*/
        },
        beforeMount:function () {
            if (APP_LOG_LIFECYCLE_EVENTS){
                console.log("beforeMount");
            }
        },
        mounted:function () {
            if (APP_LOG_LIFECYCLE_EVENTS){
                console.log("mounted");
            }
        },
        beforeUpdate:function () {
            if (APP_LOG_LIFECYCLE_EVENTS){
                console.log("beforeUpdate");
            }
        },
        updated:function () {
            if (APP_LOG_LIFECYCLE_EVENTS){
                console.log("updated");
            }
        },
        beforeDestroy:function () {
            if (APP_LOG_LIFECYCLE_EVENTS){
                console.log("beforeDestroy");
            }
        },
        destroyed:function () {
            if (APP_LOG_LIFECYCLE_EVENTS){
                console.log("destroyed");
            }
        },
    });
</script>

</body>
</html>